@model ASystem.Models.View.PassportViewModel.InsertViewModel
@{
    ViewData["Title"] = "Insert";
    string controller = "Passport";
}
@section CSS {

    <link href="https://getbootstrap.com/docs/5.0/examples/features/features.css" rel="stylesheet">
}
<div class="px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Insert</h2>
    <div class="g-4 py-5">
        <div class="row g-5">
            <div class="col-md-7 col-lg-8">
                <form class="needs-validation" form method="post" asp-controller="@controller" asp-action="Insert">
                    <div class="row g-3 mb-2">
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.PassportNo" class="form-label"></label>
                            <input asp-for="Form.PassportNo" class="form-control">
                            <span asp-validation-for="Form.PassportNo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Type" class="form-label"></label>
                            <input asp-for="Form.Type" class="form-control">
                            <span asp-validation-for="Form.Type" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.CountryCode" class="form-label"></label>
                            <input asp-for="Form.CountryCode" class="form-control">
                            <span asp-validation-for="Form.CountryCode" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Surname" class="form-label"></label>
                            <input asp-for="Form.Surname" class="form-control">
                            <span asp-validation-for="Form.Surname" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.OtherName" class="form-label"></label>
                            <input asp-for="Form.OtherName" class="form-control">
                            <span asp-validation-for="Form.OtherName" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.NationalStatus" class="form-label"></label>
                            <input asp-for="Form.NationalStatus" class="form-control">
                            <span asp-validation-for="Form.NationalStatus" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DateOfBirth" class="form-label"></label>
                            <input asp-for="Form.DateOfBirth" type="date" class="form-control">
                            <span asp-validation-for="Form.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.IdNo" class="form-label"></label>
                            <input asp-for="Form.IdNo" class="form-control">
                            <span asp-validation-for="Form.IdNo" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Profession" class="form-label"></label>
                            <input asp-for="Form.Profession" class="form-control">
                            <span asp-validation-for="Form.Profession" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Sex" class="form-label"></label>
                            <input asp-for="Form.Sex" class="form-control">
                            <span asp-validation-for="Form.Sex" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.PlaceOfBirth" class="form-label"></label>
                            <input asp-for="Form.PlaceOfBirth" class="form-control">
                            <span asp-validation-for="Form.PlaceOfBirth" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DateOfIssue" class="form-label"></label>
                            <input asp-for="Form.DateOfIssue" type="date" class="form-control">
                            <span asp-validation-for="Form.DateOfIssue" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.DateOfExpiry" class="form-label"></label>
                            <input asp-for="Form.DateOfExpiry" type="date" class="form-control">
                            <span asp-validation-for="Form.DateOfExpiry" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Authority" class="form-label"></label>
                            <input asp-for="Form.Authority" class="form-control">
                            <span asp-validation-for="Form.Authority" class="text-danger"></span>
                        </div>
                        <div class="col-sm-12 mb-2">
                            <label asp-for="Form.Status" class="form-label"></label>
                            <input asp-for="Form.Status" class="form-control">
                            <span asp-validation-for="Form.Status" class="text-danger"></span>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <a asp-controller="@controller" asp-action="Index" class="w-100 btn btn-secondary btn-lg">Back</a>
                        </div>
                        <div class="col-sm-6">
                            <button class="w-100 btn btn-primary btn-lg" type="submit">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
